<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header::head()"></head>

<body class="roboto-regular">
  <div class="mx-3">
    <form th:action="@{/entryInfo/confirm}" th:object="${entryInfoForm}" method="post">
      <div class="row mb-3">
        <label class="form-label col-form-label col-sm-3" for="entryDate">入室日</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" th:field="*{entryDate}" />
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label col-form-label col-sm-3" for="entryTimeS">開始時刻</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" th:field="*{entryTimeS}" />
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label col-form-label col-sm-3" for="entryTimeE">終了時刻</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" th:field="*{entryTimeE}" />
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label col-form-label col-sm-3" for="reqUser">申請者</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" th:field="*{reqUser}" />
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label col-form-label col-sm-3" for="reqGroup">申請グループ</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" th:field="*{reqGroup}" />
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label col-form-label col-sm-3" for="entryUser1">入室者１</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" th:field="*{entryUser1}" />
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label col-form-label col-sm-3" for="entryUser2">入室者２</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" th:field="*{entryUser2}" />
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label col-form-label col-sm-3" for="entryUser3">入室者３</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" th:field="*{entryUser3}" />
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label col-form-label col-sm-3" for="entryUser4">入室者４</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" th:field="*{entryUser4}" />
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label col-form-label col-sm-3" for="entryUser5">入室者５</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" th:field="*{entryUser5}" />
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label col-form-label col-sm-3" for="reqReason">申請事由</label>
        <div class="col-sm-9">
          <textarea rows="3" class="form-control" th:field="*{reqReason}" />
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label col-form-label col-sm-3" for="remark">備考</label>
        <div class="col-sm-9">
          <textarea rows="3" class="form-control" th:field="*{remark}" />
        </div>
      </div>

      <button type="submit" class="btn btn-primary">送信</button>
    </form>
  </div>
</body>

</html>